---
title: Lesson 1 Presen Simple
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <!-- begin container -->
  <div class="container">
  <h3 class="custom-title">Present Simple (Present Indefinite)</h3>
  <p class="text">Present Simple (Present Indefinite) - время английского языка. <i class="italics">Используя это время, люди рассказывают о своих привычках и о других регулярных действиях (важна периодичность), также о научных фактах и вещах, которые всегда правдивы. К примеру, хобби, распорядок дня или события.</i> Очень часто делают ошибки, путая Present Simple c Present Continuous. Принципиальная разница между ними в том, что последний используется для того, что бы описать то, что мы делаем прямо cейчаc.</p>
  </div>
  <!-- end container -->

{% endblock %}
