<!-- begin sidebar menu -->
<div class="sidebar-menu" id="sidebar-menu">
    <div class="toggle-btn" id="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li><a href="#present-simple" class="italics">Present Simple</a></li>
        <li><a href="#past-simple" class="italics">Past Simple</a></li>
        <li><a href="#future-simple" class="italics">Future Simple</a></li>
        <li><a href="#present-continuous" class="italics">Present Continuous</a></li>
        <li><a href="#past-continuous" class="italics">Past Continuous</a></li>
        <li><a href="#future-continuous" class="italics">Future Continuous</a></li>
        <li><a href="#present-perfect" class="italics">Present Perfect</a></li>
        <li><a href="#past-perfect" class="italics">Past Perfect</a></li>
        <li><a href="#future-in-the-past" class="italics">Future in-the-past</a></li>
    </ul>
</div>
<!-- end sidebar menu-->